.login{
    position: relative;
    height: 100%;
    background:url("https://assets.nflxext.com/ffe/siteui/vlv3/5523db5a-e2b2-497f-a88b-61f175c3dbad/eb90437e-a876-47c3-a138-ca27772a4d2a/IN-en-20230306-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    center no-repeat ;
    background-size: cover;
}
.login__logo{
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding: 20px;
}
.login__button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    border-radius: 0.2rem;
    font-size: 1rem;
    color: white;
    background-color:#e50914;
    cursor: pointer;
    font-weight: 600;
    border: none;
}
.login__gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0,0,0,0.8) 0,
        rgba(0,0,0,0) 60%,
        rgba(0,0,0,0.8) 100%
    );
}
.login__body{
    z-index: 1;
    color: white;
    padding: 20px;
    position: absolute;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;

}
.login__body h1{
    font-size: 3.125rem;
    margin-bottom: 25px;
}
.login__body h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;

}
.login__body h3{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.login__input{
    margin-bottom: 20px;
}
.login__input form input{
    padding: 11px 10px;
    outline-width: 0;
    height: 30px;
    color: whitesmoke;
    width: 30%;
    border: 1px solid lightgray ;
    border-radius:0.3rem;
    max-width: 600px;
    background-color: transparent;
    
}
.login__getstarted{
padding:16px 20px 18px ;
border-radius: 3px;
font-size: 1rem;
color: white;
background-color: #e50914;
border: none;
font-weight: 600;
margin-left: 10px;
cursor: pointer;
}
.login__getstarted:hover{
    background-color: #c40a13;
}